body {
    width: auto;
    background-position: center;
    color: white;
    background-image: url("https://images.pexels.com/photos/2045295/pexels-photo-2045295.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.m1 {
    margin: 1em;
}


.title {
    font-size: 3em;
    color: steelblue;
}

.sub-title {
    font-size: 2em;
}

.table-container {
    width: 100%;
}

.cell {
    width: 30px;
    height: 30px;
    border: 2px solid white;
}

.center {
    text-align: center;
}

.font1 {
    font-size: 1em;
}

.font2 {
    font-size: 2em;
}

.w-50 {
    width: 50%;
}

.size3 {
    font-size: 3em;
}

.size5 {
    font-size: 5em;
}

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.align-start {
    align-items: flex-start;
}

.m0 {
    margin: 0;
}

.m2-inline {
    margin-inline: 1em;
}

.p1 {
    padding: 0.5em;
}

.p1-5 {
    padding: 1.5em;
}

.bg-red {
    background-color: red;
}

.fit-content {
    width: fit-content;
    height: fit-content;
}

.cell:hover {
    scale: 1.1;
}

.bg-grey {
    background-color: rgba(128, 128, 128, 0.5); /* grey color with 50% transparency */

}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alt {
    height: 100vh;
}

.easyDay {
    background-color: #4be54b;
    color: yellowgreen;
}

.midDay {
    background-color: #efde4b;
    color: #d29805;
}

.busyDay {
    background-color: #ea6b6b;
    color: #2511e8;
}
